In [438]:
#Q1
import pandas as pd; import numpy as np;
data = pd.read_csv('../Titanic/train.csv')

null_features_counts = list(filter(lambda x: next(iter(x.values())), 
                                    map(lambda f: {f: len(data.loc[data[f].isnull()])}, data.columns)))
print(str(null_features_counts))

#From HW1, I decided to drop the cabin feature since it had too many null values. I am dropping PassengerId as well since its meaningless for the training
#For more info check Q15 of: https://github.com/lumalav/CAP5610/blob/master/HW1/HW1.ipynb
for x in ['Cabin', 'PassengerId']:
    data = data.drop(x, 1)

[{'Age': 177}, {'Cabin': 687}, {'Embarked': 2}]

In [439]:

#Q1 Continuation
#converting Sex feature into numerical values 
#For more info check Q16 of: https://github.com/lumalav/CAP5610/blob/master/HW1/HW1.ipynb
data = data.replace({'Sex': 'male'}, {'Sex': 0})
data = data.replace({'Sex': 'female'}, {'Sex': 1})

print(data['Sex'].head())

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [440]:
#Q1 Continuation
#Since there are 177 missing values for the Age feature, I will fill these values with random numbers between mean and the std of the entire set
#For more info check Q17 of: https://github.com/lumalav/CAP5610/blob/master/HW1/HW1.ipynb
std = data['Age'].std()
mean = data['Age'].mean()
data['Age'] = data['Age'].apply(lambda x: np.random.uniform(mean, std, 1)[0] if np.isnan(x) else x)

In [441]:
#Q1 Continuation
#Since there are two missing values for the Embarked feature, I will fill these values with the most common occurrence from the entire set
#For more info check Q18 of: https://github.com/lumalav/CAP5610/blob/master/HW1/HW1.ipynb
embarked = data.pivot_table(index=['Embarked'], aggfunc ='size').to_frame().sort_values([0], ascending=False).iloc[0]

print('Most common port of embarkation: ' + embarked.name + ', with: ' + str(embarked.values[0]) + ' occurrences')
data['Embarked'] = data['Embarked'].apply(lambda x: embarked.name if pd.isnull(x) else x)

Most common port of embarkation: S, with: 644 occurrences

In [442]:
#Q1 Continuation
#To improve performance, continuous data like Fare and Age will be set into buckets
#For more info check Q20 of: https://github.com/lumalav/CAP5610/blob/master/HW1/HW1.ipynb
data['Fare'] = pd.cut(data['Fare'], bins=[-0.001,7.91,14.4542,31.0,512.3292], labels=[0,1,2,3])
data['Age'] = pd.cut(data['Age'], bins=[0,15,25,50,75,80], labels=[0,1,2,3,4])

In [443]:
print('Preprocessed data:')
data

Preprocessed data:

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,3,"Braund, Mr. Owen Harris",0,1,1,0,A/5 21171,0,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,2,1,0,PC 17599,3,C
2,1,3,"Heikkinen, Miss. Laina",1,2,0,0,STON/O2. 3101282,1,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,2,1,0,113803,3,S
4,0,3,"Allen, Mr. William Henry",0,2,0,0,373450,1,S
...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",0,2,0,0,211536,1,S
887,1,1,"Graham, Miss. Margaret Edith",1,1,0,0,112053,2,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,1,1,2,W./C. 6607,2,S
889,1,1,"Behr, Mr. Karl Howell",0,2,0,0,111369,2,C
890,0,3,"Dooley, Mr. Patrick",0,2,0,0,370376,0,Q